{% extends "playlist_tool/layout.html" %}
{% block title %}Profile | Spotify Playlist Tool{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1>Welcome, {{ profile_data.display_name }}</h1>
    {% if profile_data.images %}
        <img src="{{ profile_data.images.0.url }}" alt="Profile Picture" class="img-thumbnail rounded-circle my-2" width="200">
    {% endif %}
    <p><span class="fw-bold">Email:</span> {{ profile_data.email }}</p>
    <p><span class="fw-bold">Followers:</span> {{ profile_data.followers.total }}</p>
    <hr class="mt-4">
    <h2>Your Playlists</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        {% for playlist in playlists_data %}
        <div class="col">
            <div class="card h-100 bg-dark">
                {% if playlist.image_url %}
                    {% if playlist.spotify_url %}
                        <a href="{{ playlist.spotify_url }}" target="_blank"><img src="{{ playlist.image_url }}" class="card-img-top p-3" alt="Playlist Cover" style="max-height: 347px"></a>
                    {% else %}
                        <img src="{{ playlist.image_url }}" class="card-img-top p-3" alt="Playlist Cover" style="max-height: 347px">
                    {% endif %}
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-white">{{ playlist.name }}</h5>
                    <p class="card-text text-white">Tracks: {{ playlist.track_count }}</p>
                    {% if playlist.analyzed %}
                        <a href="{% url 'playlist_tool:fetch_tracks' playlist_id=playlist.playlist_id %}" class="btn btn-success text-white mx-2">Analyse Again</a>
                        <a href="{% url 'playlist_tool:view_statistics' playlist_id=playlist.playlist_id %}" class="btn btn-primary text-white mx-2">View Statistics</a>
                    {% else %}
                        <a href="{% url 'playlist_tool:fetch_tracks' playlist_id=playlist.playlist_id %}" class="btn btn-success text-white">Analyse Playlist</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col text-center">
            <p>No playlists available yet. Create some playlists on Spotify!</p>
        </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}
