{% extends "playlist_tool/layout.html" %}
{% block title %}Profile | Spotify Playlist Tool{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1>Welcome, {{ profile_data.display_name }}</h1>
    {% if profile_data.images %}
        <img src="{{ profile_data.images.0.url }}" alt="Profile Picture" class="img-thumbnail rounded-circle my-2" width="200">
    {% endif %}
    <p><span class="fw-bold">Email:</span> {{ profile_data.email }}</p>
    <p><span class="fw-bold">Followers:</span> {{ profile_data.followers.total }}</p>

    <h2 class="mt-5">Your Playlists</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        {% for playlist in playlists_data %}
        <div class="col">
            <div class="card h-100 bg-dark">
                {% if playlist.images %}
                    <img src="{{ playlist.images.0.url }}" class="card-img-top" alt="Playlist Cover" style="max-height: 347px">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-white">{{ playlist.name }}</h5>
                    <p class="card-text text-white">Tracks: {{ playlist.tracks.total }}</p>
                    <a href="" class="btn btn-success text-white">View Tracks</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col text-center">
            <p>No playlists available yet. Create some playlists on Spotify!</p>
        </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}
