{% extends "playlist_tool/layout.html" %}

{% block title %}Statistics | {{ playlist.name }}{% endblock %}

{% block body %}
<div class="mt-5">
    <h1>{{ playlist.name }} - Statistics</h1>
    <div class="table-responsive">
        <table class="table table-striped align-middle mt-4">
            <thead>
                <tr>
                    <th>Track</th>
                    <th>Artist</th>
                    <th>Danceability</th>
                    <th>Energy</th>
                    <th>Tempo</th>
                    <th>Valence</th>
                </tr>
            </thead>
            <tbody>
                {% for track in page_obj.object_list %}
                <tr>
                    {% if track.spotify_url %}
                        <td><a href="{{ track.spotify_url }}" target="_blank">{{ track.name }}</a></td>
                    {% else %}
                        <td>{{ track.name }}</td>
                    {% endif %}
                    {% if track.artist_url %}
                        <td><a href="{{ track.artist_url}}" target="_blank">{{ track.artist }}</a></td>
                    {% else %}
                        <td>{{ track.artist }}</td>
                    {% endif %}
                    <td>{{ track.danceability }}</td>
                    <td>{{ track.energy }}</td>
                    <td>{{ track.tempo }}</td>
                    <td>{{ track.valence }}</td>
                </tr>
                {% empty %}
                    <p>No tracks in the playlist.</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
