{% extends "playlist_tool/layout.html" %}
{% load static %}
{% block title %}Top 50 Tracks{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 id="top-heading" class="mb-3">Top 50 Tracks from the last 4 weeks</h1>
    <div class="btn-group" role="group" aria-label="Time Range">
        <button type="button" class="btn btn-outline-success" id="short_term">Short Term</button>
        <button type="button" class="btn btn-outline-success" id="medium_term">Medium Term</button>
        <button type="button" class="btn btn-outline-success" id="long_term">Long Term</button>
    </div>
    <div id="tracks-container" class="mt-4">
    </div>
</div>
    {% block script %}
        <script src="{% static 'playlist_tool/app.js' %}"></script>
    {% endblock %}
{% endblock %}
